~/.Xauthority
~/*.bash
~/.cache
~/.config/.gsd-keyboard.settings-ported
~/.config/Code
~/.config/Insomnia
~/.config/Proton AG
~/.config/QtProject.conf
~/.config/Slack
~/.config/autostart
~/.config/configstore
~/.config/dconf
~/.config/discord
~/.config/gh
~/.config/gtk-3.0
~/.config/gtk-3.0/
~/.config/ibus/
~/.config/mimeapps.list
~/.config/monitors.xml
~/.config/neofetch/
~/.config/pavucontrol.ini
~/.config/protonmail/
~/.config/pulse/
~/.config/qBittorrent/
~/.config/rbw/
~/.config/regolith2/flags/
~/.config/spotify/
~/.config/systemd/
~/.config/thefuck/
~/.config/user-dirs.dirs
~/.config/user-dirs.locale
~/.dmrc
~/.dotfiles/
~/.histfile
~/.lesshst
~/.local/
~/.mozilla/
~/.npm/
~/.nvidia-settings-rc
~/.pki/
~/.profile
~/.python_history
~/.ssh/id_rsa
~/.ssh/known_hosts
~/.ssh/known_hosts.old
~/.sudo_as_admin_successful
~/.thunderbird/
~/.ts_node_repl_history
~/.vim/
~/.vscode/
~/.wget-hsts
~/.xsession-errors
~/.xsession-errors.old
~/.zcompdump
~/.zcompdump-workyworky-5.9
~/.zcompdump-workyworky-5.9.zwc
~/.zsh_history
~/.zshrc.pre-oh-my-zsh
~/Documents/
~/Downloads/
~/Pictures/
~/Projects/
~/Torrents/
~/snap/
