default_dark_mode 1
ui_font Iosevka Nerd Font
font_size 16
super_fast_search 1
case_sensitive_search 0
show_document_name_in_statusbar 1
ruler_mode 0
should_launch_new_window 1

# kanagawa
# custom_color_contrast 0.3
# custom_color_mode_empty_background_color #16161D
page_separator_color #727169
page_separator_width 10
custom_background_color #1F1F28
custom_text_color #DCD7BA
search_highlight_color #54546D
status_bar_color #2A2A37
status_bar_text_color #C8C093
link_highlight_color #72A7BC
text_highlight_color #223249
visual_mark_color  0.212  0.212  0.275  0.1

search_url_g https://www.google.com/search?q=
middle_click_search_engine g
startup_commands toggle_custom_color;
